body {

background: white;

color: black;

font-family: Arial;

text-align: center;

}

canvas {

background: white;

border: 2px solid black;

}

.hidden {

display: none;

}

button {

padding: 10px;

margin: 5px;

background: black;

color: white;

border: none;

cursor: pointer;

}

button:hover {

background: #333;

}

select,
input {

padding: 5px;

font-size: 16px;

}
