body {
background: white;
text-align: center;
font-family: Arial;
}

canvas {
background: white;
border: 2px solid black;
}

.hidden {
display: none;
}

button {
background: black;
color: white;
padding: 10px;
margin: 5px;
}
