body {

background: #111;
color: white;

text-align: center;

font-family: Arial;

}

canvas {

background: #000;

border: 2px solid white;

}

.hidden {

display: none;

}

button {

padding: 10px;

margin: 5px;

background: #00ffaa;

border: none;

cursor: pointer;

}

button:hover {

background: #00cc88;

}

select {

padding: 5px;

}
